{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<br><br>
<h3 class="container center">Please fill in the following data accurately.</h3>
<br><br>

<div style="width: 50%;" class="row">
    <form class="col s12" method="POST"> 

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">person</i>
                {{ form.age }}
                <label for="a1">Age</label>
                <span class="helper-text">Enter your age in years</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">wc</i>
                {{ form.sex }}
                <label for="a2">Sex (1 = Male, 0 = Female)</label>
                <span class="helper-text">Select your biological sex</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">favorite</i>
                {{ form.cp }}
                <label for="a3">Chest Pain Type</label>
                <span class="helper-text">0: Asymptomatic, 1: Atypical Angina, 2: Non-anginal Pain, 3: Typical Angina</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">healing</i>
                {{ form.trestbps }}
                <label for="a4">Resting Blood Pressure (mm Hg)</label>
                <span class="helper-text">Enter your resting blood pressure</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">opacity</i>
                {{ form.chol }}
                <label for="a5">Cholesterol (mg/dl)</label>
                <span class="helper-text">Enter your cholesterol level</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">fastfood</i>
                {{ form.fbs }}
                <label for="a6">Fasting Blood Sugar (> 120 mg/dl)</label>
                <span class="helper-text">1 = True, 0 = False</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">monitor_heart</i>
                {{ form.restcg }}
                <label for="a7">Resting ECG Results</label>
                <span class="helper-text">0: Left Ventricular Hypertrophy, 1: Normal, 2: ST-T Wave Abnormality</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">fitness_center</i>
                {{ form.thalach }}
                <label for="a8">Maximum Heart Rate Achieved</label>
                <span class="helper-text">Enter your highest heart rate achieved during exercise</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">directions_run</i>
                {{ form.exang }}
                <label for="a9">Exercise Induced Angina</label>
                <span class="helper-text">1 = Yes, 0 = No</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">show_chart</i>
                {{ form.oldpeak }}
                <label for="a10">ST Depression (Oldpeak)</label>
                <span class="helper-text">ST depression induced by exercise relative to rest</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">trending_up</i>
                {{ form.slope }}
                <label for="a11">Slope of Peak Exercise ST Segment</label>
                <span class="helper-text">0: Downsloping, 1: Flat, 2: Upsloping</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">format_list_numbered</i>
                {{ form.ca }}
                <label for="a12">Number of Major Vessels (0–3)</label>
                <span class="helper-text">Enter the number of major vessels (0-3) colored by fluoroscopy</span>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 ">
                <i class="material-icons prefix">bloodtype</i>
                {{ form.thal }}
                <label for="a13">Thalassemia Type</label>
                <span class="helper-text">1: Fixed Defect, 2: Normal Blood Flow, 3: Reversible Defect</span>
            </div>
        </div>

        {% csrf_token %}
        <button class="black btn waves-effect waves-light" type="submit" name="action">Test Now
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<br>

{% endblock %}
